<div class="photos-container">
  <h1>写真一覧</h1>
  <h5 class="user-title">ウーザー：<%= @user.user_id %></h5>
  <div>
    <%= link_to "ログアウト", logout_path, data: {turbo_method: :delete} %>
  </div>
  <div>
    <%= link_to 'MyTweetAppと連携', "http://unifa-recruit-my-tweet-app.ap-northeast-1.elasticbeanstalk.com/oauth/authorize?client_id=#{ENV['CLIENT_ID']}&response_type=code&scope=write_tweet&redirect_uri=#{oauth_callback_url(only_path: false)}", target: '_blank' %>
  </div>
  <div>
    <%= link_to "写真アップロード画面", new_photo_path %>
  </div>
  <div>
    <%  if @token %>
      <%= @token %>
    <%  end %>
  </div>
  <div class="images-container">
    <% @photos.each do |photo| %>
    <div class="image-container">
      <h5 class="image-title"><%= photo.filename %></h5>
      <div class="image-box">
        <%= image_tag(photo, class: "image") %>
      </div>
      <div>
        <%= button_to 'Tweet This Photo', tweet_photo_path(photo), method: :post %>
      </div>
    </div>
    <% end %>
  </div>
</div>
