<div class="photos-container">
  <h1>写真一覧</h1>
  <h5 class="user-title">ウーザー：<%= @user.user_id %></h5>
  <div>
    <%= link_to "ログアウト", logout_path, data: {turbo_method: :delete} %>
  </div>
  <div>
    <%= link_to "写真アップロード画面", new_photo_path %>
  </div>
  <div class="images-container">
    <% @photos.each do |photo| %>
    <div class="image-container">
      <h5 class="image-title"><%= photo.filename %></h5>
      <%= image_tag photo %>
    </div>
    <% end %>
  </div>
</div>
